<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title th:text="#{titleCarInfo}"></title>
<style>
h1 {
	text-align: center
}

#tableStyle {
	border-style: inset;
	font-size: 130%;
	font-family: verdana;
	text-align: justify;
	width: 20%;
	margin: auto;
}

#headerStyle {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: grey;
	height: 60px;
	overflow: hidden;
}

li a:hover {
	background-color: red;
}

li a {
	display: inline-block;
	padding: 22px 16px;
	text-decoration: none;
	color: white;
	float: left;
	text-align: center;
}
</style>
</head>
<body>
	<ul id="headerStyle">
		<li><a th:href="@{/tracklist}" th:text="#{GTT}"></a></li>
		<li sec:authorize="isAuthenticated()"><a
			th:href="@{../edit-car/{carId}(carId=${carId})}" th:text="#{editCarInfo}"></a></li>
		<li>
			<div>
				<div sec:authorize="isAnonymous()">
					<a th:href="@{/login}" th:text="#{SignIn}"></a>
				</div>
				<div sec:authorize="isAuthenticated()">
					<form method="post">
						<a th:href="@{/logout}" type="submit" th:text="#{SignIn}"></a>
					</form>
				</div>
			</div>
		</li>
	</ul>
	<h1 th:text="${car.merkki} + ' ' + ${car.malli} + ' ' + #{information}"></h1>
	<div id="tableStyle">
		<table>
			<tr>
				<th th:text="#{title}"></th>
				<th th:text="#{info}"></th>
			</tr>
			<tr>
				<td th:text="#{carclass}"></td>
				<td th:text="${car.carclass.carClass}"></td>
			</tr>
			<tr>
				<td th:text="#{name}"></td>
				<td th:text="${car.merkki}"></td>
			</tr>
			<tr>
				<td th:text="#{model}"></td>
				<td th:text="${car.malli}"></td>
			</tr>
			<tr>
				<td th:text="#{year}"></td>
				<td th:text="${car.vuosimalli}"></td>
			</tr>
			<tr>
				<td th:text="#{drive}"></td>
				<td th:text="${car.veto}"></td>
			</tr>
			<tr>
				<td th:text="#{horsepower}"></td>
				<td th:text="${car.hevosvoima}"></td>
			</tr>
			<tr>
				<td th:text="#{speed}"></td>
				<td th:text="${car.nopeus}"></td>
			</tr>
			<tr>
				<td th:text="#{handling}"></td>
				<td th:text="${car.ohjattavuus}"></td>
			</tr>
			<tr>
				<td th:text="#{acceleration}"></td>
				<td th:text="${car.kiihtyvyys}"></td>
			</tr>
			<tr>
				<td th:text="#{braking}"></td>
				<td th:text="${car.jarrutusvoima}"></td>
			</tr>
			<tr>
				<th th:text="#{trackinfo}"></th>
			</tr>
			<tr>
				<td th:text="#{trackname}"></td>
				<td th:text="${car.track.trackName}"></td>
			</tr>
			<tr>
				<td th:text="#{tracktype}"></td>
				<td th:text="${car.track.trackType}"></td>
			</tr>
			<tr>
				<td th:text="#{scenario}"></td>
				<td th:text="${car.track.scenario}"></td>
			</tr>
		</table>
	</div>
</body>
</html>