<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Edit info</title>
<style>
h1 {
	text-align: center
}

#tableStyle {
	border-style: inset;
	font-size: 130%;
	font-family: verdana;
	text-align: justify;
	width: 25%;
	margin: auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: grey;
	height: 40px;
	overflow: hidden;
}

li a:hover {
	background-color: red;
}

li a {
	display: inline-block;
	padding: 14px 16px;
	text-decoration: none;
	color: white;
	float: left;
	text-align: center;
}
</style>
</head>
<body>
	<ul>
		<li><a th:href="@{/tracklist}" class="btn btn-warning"
			th:attr="onclick='return confirm(\'' + 'Are you sure, that you want leave without saving data' + '\');'">GoTo Tracks</a></li>
		<li>
			<div>
				<div sec:authorize="isAnonymous()">
					<a th:href="@{/login}">Sign in</a>
				</div>
				<div sec:authorize="isAuthenticated()">
					<form method="post">
						<a th:href="@{/logout}" type="submit"
							th:attr="onclick='return confirm(\'' + 'Are you sure, that you want sign out without saving data' + '\');'">Sign out</a>
					</form>
				</div>
			</div>
		</li>
	</ul>
	<h1>Edit Car info</h1>
	<form th:object="${car}"
		th:action="@{/tracklist/{trackId}/carlist/save}" action="#"
		method="post">
		<div id="tableStyle">
			<table>
				<tr>
					<td><input type="hidden" th:field="*{carId}"
						class="form-control" /></td>
				</tr>
				<tr>
					<td><label for="${Cclass}">CarClass</label></td>
					<td><select id="Cclass" th:field="*{carclass}"
						class="form-control">
							<option th:each="carclass: ${carclass}"
								th:value="${carclass.carClassId}" th:text="${carclass.carClass}">
							</option>
					</select></td>
				</tr>
				<tr>
					<td><label for="merkki">Brand: </label></td>
					<td><input type="text" th:field="*{merkki}" /></td>
				</tr>
				<tr>
					<td><label for="malli">Model: </label></td>
					<td><input type="text" th:field="*{malli}" /></td>
				</tr>
				<tr>
					<td><label for="vuosimalli">Year: </label></td>
					<td><input type="text" th:field="*{vuosimalli}" /></td>
				</tr>
				<tr>
					<td><label for="veto">veto: </label></td>
					<td><select id="veto" th:field="*{veto}" class="form-control">
							<option selected="selected" value="RWD">RWD</option>
							<option selected="selected" value="FWD">FWD</option>
							<option selected="selected" value="AWD">AWD</option>
					</select></td>
				</tr>
				<tr>
					<td><label for="hevosvoima">Horsepower: </label></td>
					<td><input type="text" th:field="*{hevosvoima}" /></td>
				</tr>
				<tr>
					<td><label for="nopeus">Speed: </label></td>
					<td><input type="text" th:field="*{nopeus}" /></td>
				</tr>
				<tr>
					<td><label for="ohjattavuus">Handling: </label></td>
					<td><input type="text" th:field="*{ohjattavuus}" /></td>
				</tr>
				<tr>
					<td><label for="kiihtyvyys">Acceleration: </label></td>
					<td><input type="text" th:field="*{kiihtyvyys}" /></td>
				</tr>
				<tr>
					<td><label for="jarrutusvoima">Braking: </label></td>
					<td><input type="text" th:field="*{jarrutusvoima}" /></td>
				</tr>
				<tr>
					<td><label for="aika">LapTime: </label></td>
					<td><input type="text" th:field="*{aika}" /></td>
				</tr>
				<tr>
					<td><label for="${Tlist}">Track</label></td>
					<td><select id="Tlist" th:field="*{track}"
						class="form-control">
							<option th:each="track: ${tracks}" th:value="${track.trackId}"
								th:text="${track.trackName} + '  -  ' + ${track.trackType} + '  -  ' + ${track.scenario}">
							</option>
					</select></td>
				</tr>
				<tr>
					<td><input type="submit" class="bt btn-success" value="Save"></input></td>
				</tr>
			</table>
		</div>
	</form>
</body>
</html>