<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title th:text="#{titleEditCar}"></title>
<style>
h1 {
	text-align: center
}

#tableStyle {
	border-style: inset;
	font-size: 130%;
	font-family: verdana;
	text-align: justify;
	width: 35%;
	margin: auto;
}

#headerStyle {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: grey;
	height: 60px;
	overflow: hidden;
}

li a:hover {
	background-color: red;
}

li a {
	display: inline-block;
	padding: 22px 16px;
	text-decoration: none;
	color: white;
	float: left;
	text-align: center;
}
</style>
</head>
<body>
	<ul id="headerStyle">
		<li><a th:href="@{/tracklist}" class="btn btn-warning"
			th:attr="onclick='return confirm(\'' + 'Are you sure, that you want leave without saving data' + '\');'" th:text="#{GTT}"></a></li>
		<li>
			<div>
				<div sec:authorize="isAnonymous()">
					<a th:href="@{/login}" th:text="#{SignIn}"></a>
				</div>
				<div sec:authorize="isAuthenticated()">
					<form method="post">
						<a th:href="@{/logout}" type="submit"
							th:attr="onclick='return confirm(\'' + 'Are you sure, that you want sign out without saving data' + '\');'" th:text="#{SignOut}"></a>
					</form>
				</div>
			</div>
		</li>
	</ul>
	<h1>Edit Car info</h1>
	<form th:object="${car}"
		th:action="@{/tracklist/{trackId}/carlist/save}" action="#"
		method="post">
		<div id="tableStyle">
			<table>
				<tr>
					<td><input type="hidden" th:field="*{carId}"
						class="form-control" /></td>
				</tr>
				<tr>
					<td><label for="${Cclass}" th:text="#{carclass}"></label></td>
					<td><select id="Cclass" th:field="*{carclass}">
							<option th:each="carclass: ${carclass}"
								th:value="${carclass.carClassId}" th:text="${carclass.carClass}">
							</option>
					</select></td>
				</tr>
				<tr>
					<td><label for="merkki" th:text="#{name}"> </label></td>
					<td><input type="text" th:field="*{merkki}" /></td>
				</tr>
				<tr>
					<td><label for="malli" th:text="#{model}"> </label></td>
					<td><input type="text" th:field="*{malli}" /></td>
				</tr>
				<tr>
					<td><label for="vuosimalli" th:text="#{year}"> </label></td>
					<td><input type="text" th:field="*{vuosimalli}" /></td>
				</tr>
				<tr>
					<td><label for="veto" th:text="#{drive}"></label></td>
					<td><select id="veto" th:field="*{veto}">
							<option selected="selected" value="RWD">RWD</option>
							<option selected="selected" value="FWD">FWD</option>
							<option selected="selected" value="AWD">AWD</option>
					</select></td>
				</tr>
				<tr>
					<td><label for="hevosvoima" th:text="#{horsepower}"> </label></td>
					<td><input type="text" th:field="*{hevosvoima}" /></td>
				</tr>
				<tr>
					<td><label for="nopeus" th:text="#{speed}"> </label></td>
					<td><input type="text" th:field="*{nopeus}" /></td>
				</tr>
				<tr>
					<td><label for="ohjattavuus" th:text="#{handling}"> </label></td>
					<td><input type="text" th:field="*{ohjattavuus}" /></td>
				</tr>
				<tr>
					<td><label for="kiihtyvyys" th:text="#{acceleration}"> </label></td>
					<td><input type="text" th:field="*{kiihtyvyys}" /></td>
				</tr>
				<tr>
					<td><label for="jarrutusvoima" th:text="#{braking}"> </label></td>
					<td><input type="text" th:field="*{jarrutusvoima}" /></td>
				</tr>
				<tr>
					<td><label for="aika" th:text="#{laptime}"></label></td>
					<td><input type="text" th:field="*{aika}" /></td>
				</tr>
				<tr>
					<td><label for="${Tlist}" th:text="#{trackS}"></label></td>
					<td><select id="Tlist" th:field="*{track}"
						class="form-control">
							<option th:each="track: ${tracks}" th:value="${track.trackId}"
								th:text="${track.trackName} + '  -  ' + ${track.trackType} + '  -  ' + ${track.scenario}">
							</option>
					</select></td>
				</tr>
				<tr>
					<td><input type="submit" th:value="#{save}"></input></td>
				</tr>
			</table>
		</div>
	</form>
</body>
</html>