<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title th:text="#{titleLogin}"></title>

<style>
h1 {
	text-align: center
}
#tableStyle {
	border-style: inset;
	font-size: 130%;
	font-family: verdana;
	text-align: justify;
	width: 20%;
	margin: auto;
}
</style>
</head>
<body>
	<h1 th:text="#{Log_on}"></h1>
	<div id="tableStyle">
		<form th:action="@{/login}" method="post">
				<table>
					<tr>
						<td><label th:text="#{username}"></label></td>
						<td><input type="text" name="username" class="form-control" /></td>
					</tr>
					<tr>
						<td><label th:text="#{password}"></label></td>
						<td><input type="password" name="password" class="form-control" /></td>
					</tr>
					<tr>
						<td><input type="submit" value="Sign In" class="btn btn-success"/></td>
					</tr>
				</table>
				<div th:if="${param.error}">Invalid username or password!</div>
		</form>
		<a th:href="@{/signup}">Sign Up</a>
	</div>
</body>
</html>
