<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title th:text="#{titleSignUp}"></title>
<style>
h1 {
	text-align: center
}
#tableStyle {
	border-style: inset;
	font-size: 130%;
	font-family: verdana;
	text-align: justify;
	width: 35%;
	margin: auto;
}
</style>
</head>
<body>
	<h1 th:text="#{creatAc}"></h1>
	<form th:object="${signupform}" th:action="@{/saveuser}" action="#" method="post" >
		<Table id="tableStyle">
			<tr>
				<td><label th:text="#{username}"></label></td>
				<td><input type="text" th:field="*{username}" class="form-control"></input></td>
			</tr>
			<tr>
				<td><label th:text="#{password}"></label></td>
				<td><input type="password" th:field="*{password}" class="form-control"></input></td>
			</tr>
			<tr>
				<td><label th:text="#{repass}"></label></td>
				<td><input type="password" th:field="*{passwordCheck}" class="form-control"></input></td>
			</tr>
			<tr>
				<td><label th:text="#{email}"></label></td>
				<td><input type="userEmail" th:field="*{userEmail}" class="form-control"></input></td>
			</tr>
			<tr>
				<td><input type="submit" class="btn btn-success" value="SignUp"></input></td>
			</tr>
		</Table>
			<ul id="errorStyle" th:if="${#fields.hasErrors('*')}">
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
	</form>
</body>
</html>
